{{template "base/head" .}}
<div class="page-content home">
  <div class="ui stackable middle very relaxed page grid">
    <div class="sixteen wide aligned column">
      <div class="hero">
        <h2 class="ui header title">
          {{AppName}}
        </h2>
        <p>
          Welcome to the CHIF Projects portal!
          This is where all the official initiatives are coordinated and managed.
          Read on to find out how to get involved, report bugs, see what's happening,
          and discover resources and documentation.
        </p>
      </div>

      <div class="ui stackable twelve column mb-4">
        <p>This portal hosts more than just the CHIF sources, bug and patch tracker. Explore the other repositories and>      </div>

    </div>
  </div>
</div>

{{template "base/footer" .}}
